body {
  background: #5a7ebd;
  font-family: sans-serif;
  padding: 1rem;
  font-size: large;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

ul {
  text-align: center;
}

li {
  list-style-position: inside;
}

.copyright {
  font-style: italic;
  font-size: 1rem;
}

.copyright a {
  color: #79428b;
}